# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Node.js
node_modules/

# Build folders
dist/
build/

# Cache
.cache/
.parcel-cache/

# Coverage
coverage/
